<ul class="list comment">
<%for(var i=0,ll=data.length; i<ll; i++) { %>
  <li>
    <a href=""><%= data[i].username%></a>
    <span><a href="/article/edit?id=<%= data[i].id%>">编辑</a><i class="comment">评论</i>
      <% if(data[i].pass == 1){%>
      <i class="pass">取消审核</i>
      <%} else {%>
        <i class="pass">审核</i>
      <%}%>
        <i class="remove">删除</i></span>
  </li>
<%}%>
</ul>
