<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="/assets/css/iconfont.css">
    <script src="/plugins/mod.js" data-loader="data-loader" charset="utf-8"></script>
  <link rel="stylesheet" href="/assets/css/pizza.css">
  <link rel="stylesheet" href="/site/admin/login/login.less"charset="utf-8">
  <title>登录</title>
</head>
<body>
  <div class="login">
    <h2>PizzaAdmin</h2>
    <div class="login-content" id="form1">
        <div><input type="text" name="name" id="name" placeholder="用户名"></div>
        <div><input type="password" name="password" id="password" placeholder="密码"></div>
        <div>
          <button class="btn btn-success">登录</button>
        </div>
    </div>
  </div>
  <script type="text/javascript">
    var login = require('admin/login/login');
    login.init();
  </script>
</body>

</html>
