<!DOCTYPE html>
<html>

<head>
  <title>OPPO手机，手机中的战斗机</title>
    <link rel="import" href="/widget/home-meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/home/index/index.less">
</head>

<body>
    <link rel="import" href="/widget/home-header/header.html?__inline">
    <div class="flexslider">
        <ul class="slides">
            <li><img src="/site/home/index/img/1.jpg" /></li>
            <li><img src="/site/home/index/img/2.jpg" /></li>
            <li><img src="/site/home/index/img/3.jpg" /></li>
        </ul>
    </div>
    <div class="item">
      <div>
        <a href="#"><img src="http://static.oppo.com/archives/201612/201612300212245865fb4009681.jpg" alt=""></a>
      </div>
      <div>
        <a href="#"><img src="http://static.oppo.com/archives/201701/2017011106014958760701d13c4.jpg" alt=""></a>
      </div>
      <div>
        <a href="#"><img src="http://static.oppo.com/archives/201701/20170105060105586e22c1aa2cd.jpg" alt=""></a>
      </div>
    </div>
    <div id="app"></div>
    <link rel="import" href="/widget/home-footer/footer.html?__inline">
    <script id="ssr" src="/site/home/app1.vue" charset="utf-8"></script>
    <script>
        var index = require("site/home/index/index");
        index.init();
        alert(1);
    </script>
</body>

</html>
