<!DOCTYPE html>
<html>

<head>
  <title>OPPO手机，手机中的战斗机</title>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="/css/iconfont.css">
  <script src="/plugins/mod.js" data-loader="data-loader" charset="utf-8"></script>
  <link rel="stylesheet" href="/site/home/assets/index.less">
</head>

<body>
  <div class="header-user">
     <div class="userop">
       <a href="#">登录</a>
       <a href="#">注册</a>
     </div>
  </div>
  <div class="header-menu">
    <div class="header-menu-c">
      <a href="/"><img src="./logo.png" alt=""></a>
      <div>
        <a href="#">首页</a>
        <a href="#">首页</a>
        <a href="#">首页</a>
        <a href="#">首页</a>
        <a href="#">首页</a>
        <a href="#">首页</a>
        <a href="#">首页</a>
      </div>
    </div>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <li><img src="/site/home/index/img/1.jpg" /></li>
      <li><img src="/site/home/index/img/2.jpg" /></li>
      <li><img src="/site/home/index/img/3.jpg" /></li>
    </ul>
  </div>
  <div class="item">
    <div>
      <a href="#"><img src="http://static.oppo.com/archives/201612/201612300212245865fb4009681.jpg" alt=""></a>
    </div>
    <div>
      <a href="#"><img src="http://static.oppo.com/archives/201701/2017011106014958760701d13c4.jpg" alt=""></a>
    </div>
    <div>
      <a href="#"><img src="http://static.oppo.com/archives/201701/20170105060105586e22c1aa2cd.jpg" alt=""></a>
    </div>
  </div>
  <div class="footer">
    <div class="footer-c">
      © 2005 - 2017 东莞市永盛通信科技有限公司 版权所有 粤ICP备08130115号-1 联系方式：4001-666-888
    </div>
  </div>

  <script>
  </script>
</body>

</html>
